<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>PersonalDetails</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PersonalDetaile</display-name>
    <servlet-name>PersonalDetaile</servlet-name>
    <servlet-class>com.akshu.personalInfo.PersonalDetaile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalDetaile</servlet-name>
    <url-pattern>/PersonalDetaile</url-pattern>
    <url-pattern>/storePersonalDetails</url-pattern>
  </servlet-mapping>
</web-app>