<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  
  <display-name>Login Register</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>driver</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>databaseUrl</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:XE</param-value>
  </context-param>
  <context-param>
    <param-name>userName</param-name>
    <param-value>C##Ash</param-value>
  </context-param>
  <context-param>
    <param-name>pword</param-name>
    <param-value>akshu</param-value>
  </context-param>
  
  
  <servlet>
    <description></description>
    <display-name>ViewAllUsers</display-name>
    <servlet-name>ViewAllUsers</servlet-name>
    <servlet-class>com.akshu.loginregister.ViewAllUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllUsers</servlet-name>
    <url-pattern>/ViewAllUsers</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.akshu.loginregister.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.akshu.loginregister.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>